:root {
    --primary-color: #302AE6;
    --secondary-color: #536390;
    --font-color: #424242;
    --bg-color: #fff;
    --heading-color: #292922;
}

* {
    margin:0;
    padding:0;
}
body {
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, 
    "Segoe UI", Roboto, 
    "Helvetica Neue", Arial, sans-serif, 
    "Apple Color Emoji", 
    "Segoe UI Emoji", 
    "Segoe UI Symbol"; 
    margin: 0;
}

a {
    padding: 0.5em;
}

.farrell:hover {
     transition: all .5s;
    -webkit-text-stroke: 4px #d6f4f4; 
    font-weight: 900;
    font-style: italic;
    font-size: 12rem;
    font-family: "Meta", sans-serif;
    text-align: center;
    color: transparent;
    text-shadow: 5px 5px 0px #07bccc,
        10px 10px 0px #e601c0,
        15px 15px 0px #e9019a,
        25px 25px 0px #f40468,
        30px 30px 0px #428896;
    cursor: pointer; 
}

.farrell {
    transition: all .5s;    
    font-weight: 900;
    text-shadow: none; 
    color: black;
    text-align: center;
}

.card-img, img {
    object-fit: cover;
    width:100%;
    height: 35vw;
}
